.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: black;
}

.clock-loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 3px solid #61dafb;
  border-radius: 50%;
}

.clock-loader::before,
.clock-loader::after {
  position: absolute;
  content: "";
  top: calc(2rem * 0.25);
  width: 0.2rem;
  background: #61dafb;
  border-radius: 10px;
  transform-origin: center calc(100% - calc(0.2rem / 2));
  animation: spin infinite linear;
}

.clock-loader::before {
  height: calc(4rem * 0.4);
  animation-duration: 2s;
}

.clock-loader::after {
  top: calc(2rem * 0.25 + calc(4rem * 0.2));
  height: calc(4rem * 0.2);
  animation-duration: 15s;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
