.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.logo.light {
    color: #333;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

nav a .light {
    color: #333;
}

nav a:hover {
    color: #ccc;
}

nav a:hover.light {
    color: #eaa742;
}

.dark-light-toggle {
    appearance: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.dark-light-toggle.light {
    color: #333;
}

.dark-light-toggle:hover {
    color: #ccc;
}

.dark-light-toggle:hover.light {
    color: #eaa742;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
}

header.dark {
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #333;
}
