.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    background-color: #333;
    border: 5px solid #ddd;
    height: 390px;
}

.card.light {
    background-color: #fff;
    border: 5px solid #333;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
}

.card-status {
    font-weight: bold;
    color: #fff;
}

.card-status.light {
    color: #333;
}

.card-name {
    margin: 0.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff
}

.card-name.light {
    color: #333
}

.card-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #999;
}

.card-footer .card-location {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.card-footer .card-species {
    margin-top: 0.25rem;
    font-size: 0.9rem;
}
